@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: url("images/back.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.card {
	display: inline-block;
	float: left;
}

.card-action a {
	margin: 0;
	width: 100%;
	text-align: center;
}

.card-title {
	font-size: 0.9em;
	text-shadow: 1px 1px 2px #323232;
}

.container-main {
	height: 100vh;
	display: table;
	border: 0 1px 0 1px #cccccc;
}

.main {
	text-align: center;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 10rem;
}

.main-span {
	background-color: #f1f1f130;
	font: 5rem "Roboto Slab", sans-serif;
	color: #fff;
	padding: 1rem 2rem;
	display: inline-block;
	border: 0.5rem solid #FFC107;
	text-shadow: 2px 2px 2px #3F51B5;
}

.main-span-side {
	padding: 1rem 2rem;
	display: inline-block;
	font: 5rem "Roboto Slab", sans-serif;
	color: #fff;
	text-shadow: 2px 2px 2px #3F51B5;
}

.gs-btn {
	font: 1.5rem "Roboto", sans-serif;
	padding: 0.5rem 1rem;
	margin: 2rem auto;
	display: block;
	width: 250px;
	border: 4px solid #323232;
	color: #323232;
	transition: all .2s;
	background-color: #f1f1f150;
}

.gs-btn:hover {
	text-decoration: none;
	border-color: #FF6F00;
	background-color: #f1f1f180;
	color: #FF6F00;
}

.move {
	padding-left: 1rem;
	transition: all .2s;
}

.gs-btn:hover .move {
	padding-left: 2rem;
}

.page-footer {
	background-color: #009688;
}

.flink {
	color: #ddd;
	border-bottom: 1px solid #eeeeee00;
}

.flink:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.social {
	font-size: 1.5em;
	line-height: 1em;
	color: #f1f1f1;
	padding-left: 1rem;
	transition: all .2s;
	width: 45px;
}

.social:hover {
	font-size: 1.7em;
	line-height: 1em;
}

.facebook_link:hover {
    color: #3B5998;
}

.insta_link:hover {
    color: #125688;
}

.youtube_link:hover {
    color: #C31A1E;
}