@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	background: url("images/back.jpg");
	background-size: cover;
	background-attachment: fixed;
}

table tr {
	border-bottom: none;
}

table td {
	text-align: center;
	padding: 0;
}

#nav {
	text-align: center;
	position: fixed;
	width: 100%;
}

#particles-js {
	position: absolute;
	z-index: 0;
	width: 100vw;
	background: #0b1750;
	height: 100vh;
}

.left-link, .right-link, .middle-link {
	color: #fff;
}

.collapsible-body {
	background-color: #ECEFF1;
	padding: 1rem;
}

.middle-link .text {
	background-color: #fff;
	color: #323232;
	width: 200px;
	height: 50px;
	line-height: 50px;
	margin-left: -30px;
	display: inline-block;
	box-sizing: border-box;
	transition: all .2s;
}

.middle-link:hover .text {
	height: 55px;
	background-color: #FF6F00;
	color: #fff;
	border-radius: 0 0 6px 6px;
}

.left-link .text {
	background-color: #fff;
	color: #323232;
	width: 160px;
	height: 50px;
	line-height: 50px;
	margin-left: -25px;
	display: inline-block;
	box-sizing: border-box;
	transition: all .2s;
}

.left-link .tri {
	display: inline-block;
	width: 0;
	margin-top: -4px;
	vertical-align: middle;
	margin-left: -25px;
	height: 0;
	border-top: 25px solid #fff;
	border-left: 25px solid #fff;
	border-right: 25px solid transparent;
	border-bottom: 25px solid transparent;
	transition: all .2s;
}

.left-link:hover .tri {
	border-top: 25px solid #FF6F00;
	border-left: 25px solid #FF6F00;
}

.left-link:hover .text {
	color: #fff;
	background-color: #FF6F00;
	height: 55px;
	border-radius: 0 0 6px 6px;
}

.right-link .text {
	background-color: #fff;
	color: #323232;
	width: 160px;
	height: 50px;
	line-height: 50px;
	margin-left: -25px;
	display: inline-block;
	box-sizing: border-box;
	transition: all .2s;
}

.right-link .tri {
	display: inline-block;
	width: 0;
	margin-top: -4px;
	margin-left: -25px;
	vertical-align: middle;
	height: 0;
	border-top: 25px solid #fff;
	border-left: 25px solid transparent;
	border-right: 25px solid #fff;
	border-bottom: 25px solid transparent;
	transition: all .2s;
}

.right-link:hover .tri {
	border-top: 25px solid #FF6F00;
	border-right: 25px solid #FF6F00;
}

.right-link:hover .text {
	color: #fff;
	background-color: #FF6F00;
	height: 55px;
	border-radius: 0 0 6px 6px;
}

#first-block {
	padding-top: 60px;
}

.card {
	display: inline-block;
	float: left;
}

.card-action a {
	margin: 0;
	width: 100%;
	text-align: center;
}

.card-title {
	font-size: 0.9em;
	text-shadow: 1px 1px 2px #323232;
}

.container-main {
	height: 100vh;
	display: table;
	border: 0 1px 0 1px #cccccc;
}

.main {
	text-align: center;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 10rem;
}

.main-span {
	background-color: #f1f1f130;
	font: 5rem "Roboto Slab", sans-serif;
	color: #fff;
	margin-top: 8rem;
	padding: 1rem 2rem;
	display: inline-block;
	text-shadow: 2px 2px 2px #ff0033
}

.main-span-side {
	padding: 1rem 2rem;
	display: inline-block;
	font: 5rem "Roboto Slab", sans-serif;
	color: #fff;
	text-shadow: 2px 2px 2px #3F51B5;
}

.gs-btn {
	font: 1.5rem "Roboto", sans-serif;
	padding: 0.5rem 1rem;
	margin: 2rem auto;
	display: block;
	width: 250px;
	border: 4px solid #fff;
	color: #fff;
	transition: all .2s;
}

.gs-btn:hover {
	text-decoration: none;
	border-color: #FF6F00;
	color: #FF6F00;
}

.gs-btn:hover .move {
	padding-left: 2rem;
}

.dwnld-btn {
	font: 1.5rem "Roboto", sans-serif;
	margin: 1rem;
	display: block;
	padding: 1rem;
	background-color: rgb(255, 255, 255, 0.5);
	border: 2px solid #448AFF;
}

.dwnld-btn:hover {
	color: #FF6F00;
	text-decoration: none;
	border-color: #FF6F00;
	background-color: rgb(255, 243, 224, 0.8);
}

.move {
	padding-left: 1rem;
	transition: all .2s;
}

.page-footer {
	background-color: #009688;
}

.flink {
	color: #ddd;
	border-bottom: 1px solid #eeeeee00;
}

.flink:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.social {
	font-size: 1.5em;
	color: #f1f1f1;
	padding-left: 1rem;
	transition: all .2s;
	width: 45px;
}

.social:hover {
	line-height: 0.7;
	font-size: 1.8em;
}

.facebook_link:hover {
	color: #3B5998;
}

.insta_link:hover {
	color: #125688;
}

.youtube_link:hover {
	color: #C31A1E;
}
.con {
	text-align: center;
	margin-top: 8rem;
	background: transparent;
	padding-bottom: 3rem;
}

.con .content{
	display: block;
	text-align: left;
	margin-top: 4rem;
	font-size: 1.6em;
	letter-spacing: 0.3rem;
}

.main .content{
	display: block;
	text-align: left;
	margin-top: 4rem;
	font-size: 1.6em;
	letter-spacing: 0.3rem;
}

.brand{
	background-color: #f1f1f130;
	text-shadow: 1px 1px 1px #3F51B5;
}


/* Navigation styles */

/* Style 01 */

.navigation1 {
	margin-top: 100px;
	width: 250px;
	background-color: #fff;
	display: inline-block;
	padding: 1rem 1rem 1rem 0;
}

.navigation1 a {
	height: 0;
	width: 160px;
	display: block;
	line-height: 50px;
	padding-left: 1rem;
	color: #fff;
	transition: all .2s;
	border-right: 30px solid #fff;
	border-bottom: 50px solid #666;
}

.navigation1 a:hover {
	line-height: auto;
	width: 130px;
	border-bottom: 50px solid #323232;
}

/* Style 02 */

.navigation2 {
	margin-top: 100px;
	width: 250px;
	background-color: #fff;
	display: inline-block;
	padding: 1rem 1rem 1rem 0;
}

.navigation2 a {
	height: 0;
	width: 130px;
	display: block;
	line-height: 50px;
	padding-left: 1rem;
	color: #fff;
	transition: all .2s;
	border-right: 30px solid #fff;
	border-bottom: 50px solid #666;
}

.navigation2 a:hover {
	line-height: auto;
	width: 160px;
	border-bottom: 50px solid #323232;
}

/* Style 03 */

.navigation3 {
	margin-top: 100px;
	width: 250px;
	background-color: #fff;
	display: inline-block;
	padding: 1rem 1rem 1rem 0;
}

.navigation3 a .span1 {
	height: 50px;
	width: 130px;
	color: #fff;
	display: inline-block;
	line-height: 48px;
	background-color: #666;
	transition: all .2s;
	padding-left: 1rem;
}

.navigation3 a:hover .span1 {
	background-color: #323232;
}

.navigation3 a .span2 {
	width: 0;
	line-height: 50px;
	height: 0;
	vertical-align: middle;
	display: inline-block;
	border-right: 25px solid #fff;
	border-top: 25px solid #666;
	border-left: 25px solid #666;
	border-bottom: 25px solid #fff;
	transition: all .2s;
}

.navigation3 a:hover .span2 {
	border-right: 25px solid #fff;
	border-top: 25px solid #fff;
	border-left: 25px solid #323232;
	border-bottom: 25px solid #323232;
}
