@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body, html {
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: url("images/back.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.trans {
	text-align: center;
	overflow: hidden;
	z-index: 99;
	text-shadow: 0 1px 1px #323232;
	background-color: #009688;
	position: fixed;
}

.trans a {
	font-size: 1.1em;
	padding: 1.6rem;
}

.trans a:hover {
	background-color: #ffffff30;
}

#first-block {
	padding-top: 60px;
	/*background-image: url('images/sample.jpg');
	background-attachment: fixed;*/
}

.card {
	display: inline-block;
	float: left;
}

.card-action a {
	margin: 0;
	width: 100%;
	text-align: center;
}

.card-title {
	font-size: 0.9em;
	text-shadow: 1px 1px 2px #323232;
}

.container-main {
	height: 100vh;
	display: table;
	border: 0 1px 0 1px #cccccc;
}

.main {
	text-align: center;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 10rem;
}

.main-span {
	background-color: #f1f1f130;
	font: 5rem "Roboto Slab", sans-serif;
	color: #fff;
	margin-top: 8rem;
	padding: 1rem 2rem;
	display: inline-block;
	border: 0.5rem solid #FFC107;
	text-shadow: 2px 2px 2px #3F51B5;
}

.main-span-side {
	padding: 1rem 2rem;
	display: inline-block;
	font: 5rem "Roboto Slab", sans-serif;
	color: #fff;
	text-shadow: 2px 2px 2px #3F51B5;
}

.gs-btn {
	font: 1.5rem "Roboto", sans-serif;
	padding: 0.5rem 1rem;
	margin: 2rem auto;
	display: block;
	width: 250px;
	border: 4px solid #323232;
	color: #323232;
	transition: all .2s;
	background-color: #f1f1f150;
}

.gs-btn:hover {
	text-decoration: none;
	border-color: #FF6F00;
	background-color: #f1f1f180;
	color: #FF6F00;
}

.move {
	padding-left: 1rem;
	transition: all .2s;
}

.gs-btn:hover .move {
	padding-left: 2rem;
}

.page-footer {
	background-color: #009688;
}

.flink {
	color: #ddd;
	border-bottom: 1px solid #eeeeee00;
}

.flink:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.social {
	font-size: 1.5em;
	color: #f1f1f1;
	padding-left: 1rem;
	transition: all .2s;
	width: 45px;
}

.social:hover {
	line-height: 0.7;
	font-size: 1.8em;
}

.facebook_link:hover {
	color: #3B5998;
}

.insta_link:hover {
	color: #125688;
}

.youtube_link:hover {
	color: #C31A1E;
}
.con {
	text-align: center;
	margin-top: 8rem;
	background: transparent;
	text-shadow: 1px 1px 1px #323232;
	padding-bottom: 3rem;
}
.con .main-span {
	margin-top: 1rem;
	padding: 1rem 2rem;
	display: inline-block;
	border: 0.5rem solid #FFC107;
	text-shadow: 2px 2px 2px #3F51B5;
}
.con .content{
	display: block;
	text-align: left;
	margin-top: 4rem;
	font-size: 1.6em;
	letter-spacing: 0.3rem;
}
.main .content{
	display: block;
	text-align: center;
	margin-top: 4rem;
	font-size: 1.6em;
	letter-spacing: 0.3rem;
}
.content img{
	padding: 5px;
}
.content img:hover{
	/*z-index: 10px;*/
	box-shadow: 13px 12px 15px -5px rgba(0,0,0,.3);
}
.brand{
	background-color: #f1f1f130;
	text-shadow: 1px 1px 1px #3F51B5;
}
